.pokedex {
    background: #ccc;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center
}

.pokemon-list-container {
    width: 100%;
    max-width: 1000px;
    display: grid; 
    /* auto-fill,auto-fit */
    grid-template-columns: repeat(1, minmax(150px, 1fr));

    scroll-snap-type: y mandatory;
}

.pokemon-list-item {
    margin: 0 auto;
    max-width: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    border: 1px solid red;

}

.pokemon-list-item img {
    margin: auto;
    object-fit: contain;
    max-height: 150px;
}